SECRET_KEY=django-insecure-n)4o723f)^p4v8*490m4j&u$)wqk9286s=l^c@e68m*_iws2ei
POSTGRES_DB=kanban
POSTGRES_USER=postgres
POSTGRES_PASSWORD=8635
DATABASE_URL=postgres://postgres:8635@127.0.0.1:5432/kanban
EMAIL_HOST_USER=maxim.shaulskiy745@gmail.com
EMAIL_HOST_PASSWORD=oiolzyciklxniayx
